new_topics.txt
topics.txt
directory_widths.txt
vim/sessions/
tmux/resurrect/
tmux/plugins/
vim/vimfiles/bundle/
bin/wally
bin/xplr
autoload/
plugged/
bin/jq
arduino-cli
arduino-1.8.15/
arduino/
packer_compiled.lua
aliases_work.zsh
yt/
ctags
gargoyle
lazygit
youtube-dl/
lazy-lock.json
.luarc.json
kafka.txt
